@import 'tailwindcss';

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@font-face {
  font-family: 'gratimo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../shared/fonts/GratimoGrotesk-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'gratimo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../shared/fonts/GratimoGrotesk-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'gratimo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../shared/fonts/GratimoGrotesk-Bold.ttf') format('truetype');
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
